# This file contains common pin mappings for the BigTreeTech SKR 2.
# To use this config, the firmware should be compiled for the
# STM32F407 with a "32KiB bootloader".

# The "make flash" command does not work on the SKR 2. Instead,
# after running "make", copy the generated "out/klipper.bin" file to a
# file named "firmware.bin" on an SD card and then restart the SKR 2
# with that SD card.

# See docs/Config_Reference.md for a description of parameters.

# Note: The initial revision of this board has a flaw that can cause
# damage to itself and other boards. Be sure to verify the board is
# not impacted by this flaw before using it.

[stepper_x]
step_pin: PE2
dir_pin: !PE1
enable_pin: !PE3
microsteps: 16
rotation_distance: 40
endstop_pin: ^PC1
position_endstop: 365
position_max: 365
homing_speed: 100

[stepper_y]
step_pin: PD5
dir_pin: !PD4
enable_pin: !PD6
microsteps: 16
rotation_distance: 40
endstop_pin: ^PC3
position_endstop: 365
position_max: 365
homing_speed: 100

[extruder]
step_pin: PD15
dir_pin: !PD14
enable_pin: !PC7
microsteps: 16
rotation_distance: 32.119
nozzle_diameter: 0.600
filament_diameter: 1.750
max_extrude_cross_section: 50
max_extrude_only_distance: 120
#pressure_advance = 0.6332
heater_pin: PB3
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PA2
min_temp: 0
max_temp: 250
min_extrude_temp: 170

[stepper_z]
step_pin: PD11
dir_pin: !PD10
enable_pin: !PD13
microsteps: 16
rotation_distance: 4
endstop_pin: probe:z_virtual_endstop
position_min:-5
position_max: 420
homing_speed: 10.0

[stepper_z1]
step_pin: PA15
dir_pin: !PA8
enable_pin: !PD1
microsteps: 16
rotation_distance: 4

[z_tilt]
z_positions: 350, 180
             30, 180
points: 350, 180
        40, 180
speed: 150   #The default is 50.
horizontal_move_z: 10 #The default is 5.
retries: 5
retry_tolerance: 0.025

#[extruder1]
#step_pin: PD11
#dir_pin: PD10
#enable_pin: !PD13
#heater_pin: PB4
#sensor_pin: PA3
#...

[safe_z_home]
home_xy_position: 180, 180
speed: 100
z_hop: 10
z_hop_speed: 5

[bltouch]
sensor_pin: ^PC0
control_pin: PE5
x_offset: -45
y_offset: 0
speed: 3.0
pin_up_touch_mode_reports_triggered: False

[bed_mesh]
speed: 900
horizontal_move_z: 5
mesh_min: 40,20
mesh_max: 300,300
probe_count: 6,6

[heater_bed]
heater_pin: PD7
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PA1
min_temp: 0
max_temp: 130

[fan]
pin: PB7

[heater_fan Extruder_fan]
pin: PB6
heater: extruder
heater_temp: 50.0

[temperature_fan SKR2]
pin: PB5
sensor_type: temperature_mcu
max_temp: 60
min_temp: 23
target_temp: 40
control: watermark

#[heater_fan fan1]
#pin: PB6

#[heater_fan fan2]
#pin: PB5

# Due to BTT implementing a Marlin-specific safety feature,
# "anti-reversal stepper protection", this pin needs pulling
# high to pass power to stepper drivers and most FETs
[output_pin motor_power]
pin: PC13
value: 1

[mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32f429xx_350040001151303239383034-if00

[neopixel my_neopixel]
pin: PE6
chain_count: 5 ;number of pixels on the strip
color_order: GRB ;The default is GRB.
#initial LED color
initial_RED: 0.25
initial_GREEN: 0.25
initial_BLUE: 0.25

[filament_switch_sensor filament_sensor]
switch_pin:PC2

[printer]
kinematics: cartesian
max_velocity: 300
max_accel: 3500
max_z_velocity: 5
max_z_accel: 100
square_corner_velocity: 8.0

#Fluidd Setup
[virtual_sdcard]
path: ~/gcode_files

[display_status]

[respond]

[exclude_object]

########################################
# EXP1 / EXP2 (display) pins
########################################

[board_pins]
aliases:
    # EXP1 header
    EXP1_1=PC5, EXP1_3=PB1, EXP1_5=PE10, EXP1_7=PE12, EXP1_9=<GND>,
    EXP1_2=PB0, EXP1_4=PE9, EXP1_6=PE11, EXP1_8=PE13, EXP1_10=<5V>,
    # EXP2 header
    EXP2_1=PA6, EXP2_3=PE7, EXP2_5=PB2, EXP2_7=PC4,   EXP2_9=<GND>,
    EXP2_2=PA5, EXP2_4=PA4, EXP2_6=PA7, EXP2_8=<RST>, EXP2_10=<NC>

# See the sample-lcd.cfg file for definitions of common LCD displays.

########################################
# TMC2209 configuration
########################################

[tmc2209 stepper_x]
uart_pin: PE0
run_current: 0.800
hold_current: 0.800
diag_pin:

[tmc2209 stepper_y]
uart_pin: PD3
run_current: 0.800
hold_current: 0.800
diag_pin:

[tmc2209 stepper_z]
uart_pin: PD0
run_current: 0.800
hold_current: 0.800
diag_pin:

[tmc2209 stepper_z1]
uart_pin: PD12
run_current: 0.800
hold_current: 0.800
diag_pin:

[tmc2209 extruder]
uart_pin: PC6
run_current: 0.600
diag_pin:

########################################
# MACRO configurations
########################################

[idle_timeout]
gcode:
  {% if printer.pause_resume.is_paused %}
  M117 Idle but paused, maintaining bed temp.
  SET_HEATER_TEMPERATURE HEATER=extruder TARGET=0
  {% else %}
  TURN_OFF_HEATERS
  M84
  {% endif %}
#   A list of G-Code commands to execute on an idle timeout. See
#   docs/Command_Templates.md for G-Code format. The default is to run
#   "TURN_OFF_HEATERS" and "M84".
timeout: 600
#   Idle time (in seconds) to wait before running the above G-Code
#   commands. The default is 600 seconds.

[pause_resume]

[gcode_macro PAUSE]
description: Pause the actual running print
rename_existing: PAUSE_BASE
# change this if you need more or less extrusion
variable_extrude: 1.0
gcode:
  ##### read E from pause macro #####
  {% set E = printer["gcode_macro PAUSE"].extrude|float %}
  ##### set park positon for x and y #####
  # default is your max posion from your printer.cfg
  {% set x_park = printer.toolhead.axis_maximum.x|float - 5.0 %}
  {% set y_park = printer.toolhead.axis_maximum.y|float - 5.0 %}
  ##### calculate save lift position #####
  {% set max_z = printer.toolhead.axis_maximum.z|float %}
  {% set act_z = printer.toolhead.position.z|float %}
  {% if act_z < (max_z - 2.0) %}
      {% set z_safe = 2.0 %}
  {% else %}
      {% set z_safe = max_z - act_z %}
  {% endif %}
  ##### end of definitions #####
  PAUSE_BASE
  G91
  {% if printer.extruder.can_extrude|lower == 'true' %}
    G1 E-{E} F2100
  {% else %}
    {action_respond_info("Extruder not hot enough")}
  {% endif %}
  {% if "xyz" in printer.toolhead.homed_axes %}
    G1 Z{z_safe} F900
    G90
    G1 X{x_park} Y{y_park} F6000
  {% else %}
    {action_respond_info("Printer not homed")}
  {% endif %}

[gcode_macro RESUME]
description: Resume the actual running print
rename_existing: RESUME_BASE
gcode:
  M117 Resuming Print...
  ##### read E from pause macro #####
  {% set E = printer["gcode_macro PAUSE"].extrude|float %}
  #### get VELOCITY parameter if specified ####
  {% if 'VELOCITY' in params|upper %}
    {% set get_params = ('VELOCITY=' + params.VELOCITY)  %}
  {%else %}
    {% set get_params = "" %}
  {% endif %}
  ##### end of definitions #####
  {% if printer.extruder.can_extrude|lower == 'true' %}
    G91
    G1 E{E} F2100
  {% else %}
    {action_respond_info("Extruder not hot enough")}
  {% endif %}  
  RESUME_BASE {get_params}

[gcode_macro M600]
gcode:
    ;set where the toolhead will park during pause
    {% set X = params.X|default(50)|float %}
    {% set Y = params.Y|default(0)|float %}
    {% set Z = params.Z|default(10)|float %}
    M117 Pausing for color change
    SAVE_GCODE_STATE NAME=M600_state
    PAUSE
    G91
    G1 E-.8 F2700
    G1 Z{Z}
    G90
    G1 X{X} Y{Y} F3000
    G91
    G1 E-50 F1000
    RESTORE_GCODE_STATE NAME=M600_state

[gcode_macro Tram]
gcode:
  M118 Homing
  G28
  M118 Z Tilt Adjust
  Z_TILT_ADJUST
  M118 Bed Mesh
  BED_MESH_CALIBRATE
  SAVE_CONFIG
  M118 Done

[gcode_macro PID_Tune_All]
description: PID tune both heater and bed
gcode:
  PID_CALIBRATE HEATER=extruder TARGET=200
  PID_CALIBRATE HEATER=heater_bed TARGET=60
  SAVE_CONFIG

[gcode_macro CANCEL_PRINT]
description: Cancel the actual running print
rename_existing: CANCEL_PRINT_BASE
gcode:
  TURN_OFF_HEATERS
  CANCEL_PRINT_BASE
  G91
  G1 Z5 X25 Y25 F600
  G90

[gcode_macro LOAD_FILAMENT]
gcode:
    {% if printer["extruder"].temperature|int < printer.configfile.settings['extruder'].min_extrude_temp %}
      M109 S{printer.configfile.settings['extruder'].min_extrude_temp+5}
    {% endif %}
    {% set speed = params.SPEED|default(500) %}
    G91
    G1 E50 F{speed}
    G1 E50 F{speed}
    G90

[gcode_macro UNLOAD_FILAMENT]
gcode:
    {% if printer["extruder"].temperature|int < printer.configfile.settings['extruder'].min_extrude_temp %}
      M109 S{printer.configfile.settings['extruder'].min_extrude_temp+30}
    {% endif %}
    {% set speed = params.SPEED|default(500) %}
    G91
    G1 E-50 F{speed}
    G1 E-50 F{speed}
    G90

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [bltouch]
#*# z_offset = 2.850
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 66.432
#*# pid_ki = 0.982
#*# pid_kd = 1123.528
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 25.774
#*# pid_ki = 1.193
#*# pid_kd = 139.180
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	0.043799, 0.037549, -0.017451, 0.070049, 0.096299, 0.127549
#*# 	0.086299, 0.072549, 0.017549, 0.053799, 0.088799, 0.101299
#*# 	0.075049, 0.063799, 0.012549, 0.030049, 0.041299, 0.037549
#*# 	0.060049, 0.057549, 0.015049, 0.021299, 0.003799, -0.002451
#*# 	0.026299, 0.035049, -0.008701, -0.001201, -0.007451, -0.029951
#*# 	-0.001201, 0.010049, -0.037451, -0.038701, -0.066201, -0.102451
#*# tension = 0.2
#*# min_x = 40.0
#*# algo = lagrange
#*# y_count = 6
#*# mesh_y_pps = 2
#*# min_y = 20.0
#*# x_count = 6
#*# max_y = 300.0
#*# mesh_x_pps = 2
#*# max_x = 300.0
